*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  /*cada 1rem vale-rá 10px*/
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: #eaeaea;
}
.body{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 85vh 5vh;
  margin: auto;
  min-width: 320px;
  max-width: 700px;
}
header{
  display: flex;
  align-items: center;
  background-color: #8a2be2;
}
header h1{
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 20px;
}
.main{
  background-color: #ffffff;
}
form{
  display: flex;
  justify-content: space-around;
  border: 1px solid #000000;
  padding: 10px;
  margin: 20px auto;
  width: 90%;
  box-shadow: 2px 2px 2px #00000081;
  border-radius: 10px;
}
form div label{
  font-size: 1.3rem;
  text-transform: uppercase;
}
/*input task*/
form input{
  min-width: 200px;
  font-size: 1.7rem;
}
/*button "+"*/
form div button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 5px 13.5px;
  background-color: #8a2be2;
  color: #fff;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}
/*task list*/
li{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  border: solid 1px black;
  padding: 5px;
  box-shadow: 2px 2px 2px #00000072;
  border-radius: 10px;
  margin-bottom: 5px;
}
/*task text*/
.displayTasks p{
  font-size: 1.5rem;
}
/*buttons delete task*/
.displayTasks button {
  border: none;
  background: none;
  color: #000000;
  cursor: pointer;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  background-color: #8a2be2;
}
footer div p{
  font-size: 2rem;
} 

@media (max-width: 570px){
  html{
    font-size: 45%;
  }
  form div button{
    padding: 5px 11px;
  }
}
@media (max-width: 400px){
  html{
    font-size: 40%;
  }
}